<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="caja">
    <form class="formulario" method="get">

        <label for="user">User</label>
        <input type="text" name="user" id="user" required maxlength="50">
        <br><br>
        <label for="Contraseña">Constraseña</label>
        <input type="text" name="Contraseña" id="Contraseña" required maxlength="50">
        <br><br>
        <button type="submit">Ingresar</button>
    </form>
</div>
</body>
</html>